In [2]:
import pandas as pd

df = pd.read_csv('歷年國內主要觀光遊憩據點遊客人數月別統計.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3065 entries, 0 to 3064
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年別      3065 non-null   int64
 1   類型      3065 non-null   object
 2   觀光遊憩區   3065 non-null   object
 3   細分      3065 non-null   object
 4   縣市別     3065 non-null   object
 5   1月      3064 non-null   float64
 6   2月      3064 non-null   float64
 7   3月      3064 non-null   float64
 8   4月      3064 non-null   float64
 9   5月      3064 non-null   float64
 10  6月      3064 non-null   float64
 11  7月      3064 non-null   float64
 12  8月      3064 non-null   float64
 13  9月      3064 non-null   float64
 14  10月     3064 non-null   float64
 15  11月     2741 non-null   float64
 16  12月     2741 non-null   float64
 17  合計      3065 non-null   int64
dtypes: float64(12), int64(2), object(4)
memory usage: 431.1+ KB

In [4]:
df1 = df.dropna()
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2741 entries, 0 to 2741
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年別      2741 non-null   int64
 1   類型      2741 non-null   object
 2   觀光遊憩區   2741 non-null   object
 3   細分      2741 non-null   object
 4   縣市別     2741 non-null   object
 5   1月      2741 non-null   float64
 6   2月      2741 non-null   float64
 7   3月      2741 non-null   float64
 8   4月      2741 non-null   float64
 9   5月      2741 non-null   float64
 10  6月      2741 non-null   float64
 11  7月      2741 non-null   float64
 12  8月      2741 non-null   float64
 13  9月      2741 non-null   float64
 14  10月     2741 non-null   float64
 15  11月     2741 non-null   float64
 16  12月     2741 non-null   float64
 17  合計      2741 non-null   int64
dtypes: float64(12), int64(2), object(4)
memory usage: 406.9+ KB

In [16]:
df2 = df1.drop(columns=['類型','細分'])
df2['年別'] = df2['年別'].astype(str)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2741 entries, 0 to 2741
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年別      2741 non-null   object
 1   觀光遊憩區   2741 non-null   object
 2   縣市別     2741 non-null   object
 3   1月      2741 non-null   float64
 4   2月      2741 non-null   float64
 5   3月      2741 non-null   float64
 6   4月      2741 non-null   float64
 7   5月      2741 non-null   float64
 8   6月      2741 non-null   float64
 9   7月      2741 non-null   float64
 10  8月      2741 non-null   float64
 11  9月      2741 non-null   float64
 12  10月     2741 non-null   float64
 13  11月     2741 non-null   float64
 14  12月     2741 non-null   float64
 15  合計      2741 non-null   int64
dtypes: float64(12), int64(1), object(3)
memory usage: 364.0+ KB

In [20]:
df3 = df2.set_index(keys=['年別','觀光遊憩區','縣市別'])
df3.columns.name='月份'
df3.shape

(2741, 13)

In [22]:
df4 = df3.stack(level='月份')
df4.shape

(35633,)