In [3]:
import pandas as pd
df =pd.read_csv('全台火車進出站資訊.csv')
df

                日期   縣市    年度       年月   站名   進站人數   出站人數  youbike
0       2019-04-23  臺南市  2019  2019-04   永康   2516   2667        1
1       2019-04-23  彰化縣  2019  2019-04   源泉     19     21        0
2       2019-04-23  南投縣  2019  2019-04   濁水     70     63        0
3       2019-04-23  南投縣  2019  2019-04   龍泉      8     12        0
4       2019-04-23  南投縣  2019  2019-04   集集    299    127        0
...            ...  ...   ...      ...  ...    ...    ...      ...
406756  2023-12-31  彰化縣  2023  2023-12   彰化  19617  16699        1
406757  2023-12-31  彰化縣  2023  2023-12   花壇   1864   1532        1
406758  2023-12-31  彰化縣  2023  2023-12   大村   1315   1100        0
406759  2023-12-31  臺中市  2023  2023-12  頭家厝    781    778        0
406760  2023-12-31  基隆市  2023  2023-12   暖暖    576    447        0

[406761 rows x 8 columns]

In [5]:
df1 = df.groupby(by=['縣市','年度','站名'])[['進站人數','出站人數']].max()
df1

               進站人數   出站人數
縣市  年度   站名
南投縣 2019 水里     865   1111
         濁水     497    431
         車埕    2854   2977
         集集    2093   2450
         龍泉      76    303
...             ...    ...
高雄市 2023 美術館   2477   2890
         路竹    2101   2126
         高雄   21903  21915
         鳳山    8076   8057
         鼓山     958   1055

[1198 rows x 2 columns]

In [11]:
df1.columns.name = '人數'
s1 = df1.stack(level='人數')
s1.info()
s1.unstack(level=['縣市','年度'])

<class 'pandas.core.series.Series'>
MultiIndex: 2396 entries, ('南投縣', np.int64(2019), '水里', '進站人數') to ('高雄市', np.int64(2023), '鼓山', '出站人數')
Series name: None
Non-Null Count  Dtype
--------------  -----
2396 non-null   int64
dtypes: int64(1)
memory usage: 33.5+ KB

縣市          南投縣                             嘉義市                      ...  雲林縣  \
年度         2019   2020  2021   2022   2023 2019 2020 2021 2022 2023  ... 2019
站名  人數                                                               ...
七堵  進站人數    NaN    NaN   NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
    出站人數    NaN    NaN   NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
三坑  進站人數    NaN    NaN   NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
    出站人數    NaN    NaN   NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
三塊厝 進站人數    NaN    NaN   NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
...         ...    ...   ...    ...    ...  ...  ...  ...  ...  ...  ...  ...
龍泉  出站人數  303.0  274.0  66.0  390.0  271.0  NaN  NaN  NaN  NaN  NaN  ...  NaN
龍港  進站人數    NaN    NaN   NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
    出站人數    NaN    NaN   NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
龜山  進站人數    NaN    NaN   NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN
    出站人數    NaN    NaN   NaN    NaN    NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN

縣市                              高雄市
年度       2020 2021 2022 2023   2019   2020   2021   2022   2023
站名  人數
七堵  進站人數  NaN  NaN  NaN  NaN    NaN    NaN    NaN    NaN    NaN
    出站人數  NaN  NaN  NaN  NaN    NaN    NaN    NaN    NaN    NaN
三坑  進站人數  NaN  NaN  NaN  NaN    NaN    NaN    NaN    NaN    NaN
    出站人數  NaN  NaN  NaN  NaN    NaN    NaN    NaN    NaN    NaN
三塊厝 進站人數  NaN  NaN  NaN  NaN  777.0  794.0  760.0  811.0  933.0
...       ...  ...  ...  ...    ...    ...    ...    ...    ...
龍泉  出站人數  NaN  NaN  NaN  NaN    NaN    NaN    NaN    NaN    NaN
龍港  進站人數  NaN  NaN  NaN  NaN    NaN    NaN    NaN    NaN    NaN
    出站人數  NaN  NaN  NaN  NaN    NaN    NaN    NaN    NaN    NaN
龜山  進站人數  NaN  NaN  NaN  NaN    NaN    NaN    NaN    NaN    NaN
    出站人數  NaN  NaN  NaN  NaN    NaN    NaN    NaN    NaN    NaN

[482 rows x 95 columns]