In [1]:
import numpy as np
five_store = np.random.randint(100,10000,size=(5,30))
five_store_cumsum = five_store.cumsum(axis=1)
five_store_cumsum

array([[  4007,   5222,   8338,  17036,  24023,  28034,  33066,  34766,
         43911,  44512,  48859,  55157,  61311,  62449,  66108,  74746,
         81126,  84289,  87413,  93895, 102191, 110465, 118449, 127053,
        136103, 136561, 140612, 149271, 150256, 157994],
       [  5346,   8087,  10707,  11188,  11964,  15981,  18794,  20666,
         25234,  27075,  33965,  37103,  38302,  47622,  50258,  51147,
         59042,  68018,  70471,  73902,  80528,  81088,  87420,  95835,
         96828,  99690, 106370, 111096, 115557, 121149],
       [  9207,  11515,  17113,  26899,  31377,  39540,  41444,  41569,
         43697,  48079,  53488,  62682,  67343,  68591,  74086,  78710,
         79242,  83181,  92593,  99323, 104520, 104828, 108123, 117347,
        122029, 128829, 137926, 144557, 151167, 161031],
       [  6484,  10315,  13379,  18355,  18956,  27479,  29533,  32196,
         40697,  44960,  52406,  53819,  63625,  63731,  73056,  82499,
         91106,  96181, 102581, 102830, 105983, 113594, 115203, 120045,
        125172, 130174, 134388, 138519, 147669, 155294],
       [  7021,  10848,  13646,  17715,  24367,  25924,  34907,  41734,
         50790,  53819,  56676,  66573,  67645,  75215,  78481,  79314,
         86242,  90032,  97422, 102347, 110931, 113540, 118684, 124443,
        130231, 135248, 136160, 143223, 146871, 153753]])

In [10]:
import pandas as pd

five_store = pd.DataFrame(five_store_cumsum,
             columns=[f"第{day}天" for day in range(1,31)],
             index=["台北分店","新竹分店",'台中分店','台南分店','高雄分店'])
new_df = five_store.T
new_df

        台北分店    新竹分店    台中分店    台南分店    高雄分店
第1天     4007    5346    9207    6484    7021
第2天     5222    8087   11515   10315   10848
第3天     8338   10707   17113   13379   13646
第4天    17036   11188   26899   18355   17715
第5天    24023   11964   31377   18956   24367
第6天    28034   15981   39540   27479   25924
第7天    33066   18794   41444   29533   34907
第8天    34766   20666   41569   32196   41734
第9天    43911   25234   43697   40697   50790
第10天   44512   27075   48079   44960   53819
第11天   48859   33965   53488   52406   56676
第12天   55157   37103   62682   53819   66573
第13天   61311   38302   67343   63625   67645
第14天   62449   47622   68591   63731   75215
第15天   66108   50258   74086   73056   78481
第16天   74746   51147   78710   82499   79314
第17天   81126   59042   79242   91106   86242
第18天   84289   68018   83181   96181   90032
第19天   87413   70471   92593  102581   97422
第20天   93895   73902   99323  102830  102347
第21天  102191   80528  104520  105983  110931
第22天  110465   81088  104828  113594  113540
第23天  118449   87420  108123  115203  118684
第24天  127053   95835  117347  120045  124443
第25天  136103   96828  122029  125172  130231
第26天  136561   99690  128829  130174  135248
第27天  140612  106370  137926  134388  136160
第28天  149271  111096  144557  138519  143223
第29天  150256  115557  151167  147669  146871
第30天  157994  121149  161031  155294  153753

In [14]:
type(new_df['台北分店'])
new_df['台中分店']

第1天       9207
第2天      11515
第3天      17113
第4天      26899
第5天      31377
第6天      39540
第7天      41444
第8天      41569
第9天      43697
第10天     48079
第11天     53488
第12天     62682
第13天     67343
第14天     68591
第15天     74086
第16天     78710
第17天     79242
第18天     83181
第19天     92593
第20天     99323
第21天    104520
第22天    104828
第23天    108123
第24天    117347
第25天    122029
第26天    128829
第27天    137926
第28天    144557
第29天    151167
第30天    161031
Name: 台中分店, dtype: int64