In [ ]:
import pandas as pd

pd.read_csv('個股日成交資訊.csv')

In [ ]:
pd.read_csv('個股日成交資訊.csv',usecols=['證券名稱','開盤價','收盤價','最高價','最低價','漲跌價差'])

In [7]:
pd.read_excel('ex3.xlsx')

   Unnamed: 0.1  Unnamed: 0  a   b   c   d message
0             0           0  1   2   3   4   hello
1             1           1  5   6   7   8   world
2             2           2  9  10  11  12     foo

In [9]:
import json
with open('example.json',encoding='utf-8') as file:
    data = json.load(file)

pd.DataFrame(data)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9