In [ ]:
import pandas as pd 
df = pd.read_csv('world.csv')
df1 = df[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]
df1

In [ ]:
taiwan = df1.query('國家=="台灣"')
taiwan

In [ ]:
taiwan.query('日期>="2020-01-16" and 日期<="2020-12-31"')

In [10]:
country = input("請輸入國家")
df1.query('國家==@country')

         洲名  國家          日期      總確診數   新增確診數       總人口數     解封指數
177260  北美洲  美國  2020-01-22         1       0  332915074  99999.0
177261  北美洲  美國  2020-01-23         1       0  332915074  99999.0
177262  北美洲  美國  2020-01-24         2       1  332915074  99999.0
177263  北美洲  美國  2020-01-25         2       0  332915074  99999.0
177264  北美洲  美國  2020-01-26         5       3  332915074  99999.0
...     ...  ..         ...       ...     ...        ...      ...
178152  北美洲  美國  2022-07-02  87838623   16652  332915074  99999.0
178153  北美洲  美國  2022-07-03  87843561    4938  332915074  99999.0
178154  北美洲  美國  2022-07-04  87886589   43028  332915074  99999.0
178155  北美洲  美國  2022-07-05  88066096  179507  332915074  99999.0
178156  北美洲  美國  2022-07-06  88263393  197297  332915074  99999.0

[897 rows x 7 columns]