In [32]:
import yfinance as yf
yf.download('AAPL')
yf.download('2317.TW')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,2317.TW,2317.TW,2317.TW,2317.TW,2317.TW,2317.TW
Date,,,,,,
1993-01-05,0.399521,0.730803,0.744620,0.726197,0.730803,33478780
1993-01-06,0.392806,0.718520,0.729267,0.712379,0.729267,46846584
1993-01-07,0.391128,0.715450,0.729267,0.712379,0.718520,44447315
1993-01-08,0.379377,0.693955,0.724661,0.687814,0.724661,43699448
1993-01-11,0.381895,0.698561,0.709308,0.692420,0.692420,14068903
...,...,...,...,...,...,...
2024-12-11,189.000000,189.000000,194.000000,189.000000,190.000000,62875365
2024-12-12,188.500000,188.500000,193.000000,188.500000,190.500000,47067315
2024-12-13,186.500000,186.500000,189.500000,185.500000,188.500000,52081754
2024-12-16,182.000000,182.000000,189.500000,181.500000,188.000000,71398289
2024-12-17,183.000000,183.000000,186.000000,181.000000,181.000000,55565419

In [ ]:
all_data = {}
for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']:
    all_data[ticker] = yf.download(ticker)
all_data

In [ ]:
all_data = {ticker:yf.download(ticker) for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}
all_data

In [9]:
all_data['AAPL'].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11095 entries, 1980-12-12 to 2024-12-16
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  11095 non-null  float64
 1   (Close, AAPL)      11095 non-null  float64
 2   (High, AAPL)       11095 non-null  float64
 3   (Low, AAPL)        11095 non-null  float64
 4   (Open, AAPL)       11095 non-null  float64
 5   (Volume, AAPL)     11095 non-null  int64
dtypes: float64(5), int64(1)
memory usage: 606.8 KB

In [ ]:
all_data['AAPL'][('Adj Close', 'AAPL')]

In [ ]:
for key,value in {'tw':'taiwan','jp':'japan'}.items():
    print(key)
    print(value)

In [29]:
new_data = {key:df[('Adj Close', key)] for key,df in all_data.items()}

In [31]:
import pandas as pd
pd.DataFrame(new_data)

                  AAPL         IBM        MSFT        GOOG
Date
1962-01-02         NaN    1.513322         NaN         NaN
1962-01-03         NaN    1.526548         NaN         NaN
1962-01-04         NaN    1.511336         NaN         NaN
1962-01-05         NaN    1.481573         NaN         NaN
1962-01-08         NaN    1.453794         NaN         NaN
...                ...         ...         ...         ...
2024-12-10  247.770004  231.720001  443.329987  186.529999
2024-12-11  246.490005  230.119995  448.989990  196.710007
2024-12-12  247.960007  232.259995  449.559998  193.630005
2024-12-13  248.130005  230.820007  447.269989  191.380005
2024-12-16  251.039993  229.330002  451.589996  198.160004

[15848 rows x 4 columns]