In [1]:
import yfinance as yf
yf.download('AAPL')

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
Date,,,,,,
1980-12-12,0.098834,0.128348,0.128906,0.128348,0.128348,469033600
1980-12-15,0.093678,0.121652,0.122210,0.121652,0.122210,175884800
1980-12-16,0.086802,0.112723,0.113281,0.112723,0.113281,105728000
1980-12-17,0.088951,0.115513,0.116071,0.115513,0.115513,86441600
1980-12-18,0.091530,0.118862,0.119420,0.118862,0.118862,73449600
...,...,...,...,...,...,...
2024-12-10,247.770004,247.770004,248.210007,245.339996,246.889999,36914800
2024-12-11,246.490005,246.490005,250.800003,246.259995,247.960007,45205800
2024-12-12,247.960007,247.960007,248.740005,245.679993,246.889999,32777500
2024-12-13,248.130005,248.130005,249.289993,246.240005,247.820007,33155300
2024-12-16,251.039993,251.039993,251.380005,247.649994,247.990005,51665600