In [2]:
#階層式的索引
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[
                    ['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                    [1, 2, 3, 1, 2, 3, 1, 2, 3]
                ]
)
s1

a  1    0.068825
   2    0.761223
   3   -1.392363
b  1   -0.884936
   2    0.127145
c  3    0.696327
   1   -0.167004
d  2    0.639120
   3    1.230938
dtype: float64

In [3]:
s1['a']

1    0.068825
2    0.761223
3   -1.392363
dtype: float64

In [4]:
s1[['a','d']]

a  1    0.068825
   2    0.761223
   3   -1.392363
d  2    0.639120
   3    1.230938
dtype: float64

In [5]:
s1[('a', 3)]

np.float64(-1.392362663946255)

In [8]:
s1.index.names = ['key1', 'key2']

In [9]:
s1

key1  key2
a     1       0.068825
      2       0.761223
      3      -1.392363
b     1      -0.884936
      2       0.127145
c     3       0.696327
      1      -0.167004
d     2       0.639120
      3       1.230938
dtype: float64

In [10]:
s1.unstack(level='key2')

key2         1         2         3
key1
a     0.068825  0.761223 -1.392363
b    -0.884936  0.127145       NaN
c    -0.167004       NaN  0.696327
d          NaN  0.639120  1.230938

In [11]:
s1.unstack(level='key1')

key1         a         b         c         d
key2
1     0.068825 -0.884936 -0.167004       NaN
2     0.761223  0.127145       NaN  0.639120
3    -1.392363       NaN  0.696327  1.230938